* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Segoe UI", 'Meiryo UI', Meiryo, メイリオ;
}


body {
    height: 100%;
    background: url(../img/portfolio_bgi.jpg) center / cover;
}

:root {
    scroll-behavior: smooth;
    --color-main: #125062;
    --color-main_bgc: rgba(255, 255, 255, 0.6);
    --color-text_bgc: rgba(229, 229, 229, 0.5);
    --color-font01: #333;
    --color-font02: #fff;
    --color-point: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(242, 42, 42, 0.6774941995359629) 49%, rgba(252, 176, 69, 1) 100%);

}

.full_wrapper {
    max-width: 1200px;
    display: flex;
}

header,
main,
.text_inner p,
.hscroll ul li img {
    border-radius: 20px;
}

header {
    width: 200px;
    height: 470px;
    box-shadow: 0px 4px 4px 0px #333;
    color: var(--color-font02);
    background-color: var(--color-main);
    padding: 10px;
    text-align: center;
    position: fixed;
    margin: 5%;

    .header-wrapper {
        padding-right: 97px;
        margin-top: 20px;

        a {
            text-decoration: none;

            h1 {
                .logo {
                    font-size: 2rem;
                    color: var(--color-font02);
                }

                .logo01 {
                    letter-spacing: 0.2rem;
                }

                .logo02 {
                    letter-spacing: 0.1rem;
                }
            }
        }

    }

    nav {
        margin-top: 30px;
        height: 100%;

        ul {
            list-style: none;
            display: inline-block;
            overflow: hidden;

            li {
                padding: 20px 10px;
                border-radius: 20px;
                display: block;
                transition-duration: .5s;

                &:hover {
                    transform: scale(1.2);
                }

                a {
                    .nav_img {
                        width: 48px;
                    }

                }
            }
        }
    }
}

header nav ul li a,
.readMore a {
    text-decoration: none;
    text-align: center;
    color: var(--color-font02);
    width: 100px;
}

main {
    width: 70%;
    margin: 2% 0 2% 20%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px 0px #333;
    backdrop-filter: blur(5px);
    text-align: left;

    .contents {
        margin: 30px 40px;

        section {
            margin-top: 80px;

            h2 {
                font-size: 1.5rem;
            }

            .wrapper {
                padding: 3%;
                display: block;
                margin: 0 auto;

                .text_inner p {
                    padding: 20px;
                    font-size: 0.8rem;
                    letter-spacing: 0.2rem;
                    line-height: 1.5rem;
                    background-color: var(--color-text_bgc);
                    text-align: center;
                }

                .hscroll {
                    width: 70%;
                    height: auto;
                    margin: 20px auto;
                    position: relative;
                    border: 1px solid lightgray;
                    text-align: center;
                    border: transparent 1px solid;

                    ul {
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        scroll-snap-type: x mandatory;
                        scroll-behavior: smooth;

                        li {
                            list-style: none;
                            display: inline-block;
                            scroll-snap-align: center;
                            width: 100%;
                            height: 100%;

                            a {
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }

                                h4 {
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }

                    .arrow {
                        top: 0;
                        position: absolute;
                        width: 8%;
                        height: 100%;
                        cursor: pointer;
                    }

                    .arrow:before {
                        content: '';
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        border-left: 4px solid gray;
                        border-bottom: 4px solid gray;

                    }

                    .left {
                        left: 0px;
                    }

                    .left:before {
                        top: calc(50% - 10px);
                        left: calc(50% - 70px);
                        transform: rotate(45deg);
                    }

                    .right {
                        right: 0;
                    }

                    .right:before {
                        top: calc(50% - 10px);
                        right: calc(50% - 70px);
                        transform: rotate(-135deg);
                    }
                }

                .readMore {
                    text-align: center;
                }
            }
        }
    }
}

.btn {
    margin: 30px auto;
    width: 200px;
    font-size: 1.1rem;
    background-color: var(--color-main);
    color: var(--color-font02);
    padding: 5px 10px;
    box-shadow: 0px 4px 4px 0px #999;
    border-radius: 10px;
    transition: all 0.5s;

    &:hover {
        transform: scale(1.1);
        transform: translateY(-10px);
        background: var(--color-point);
    }
}


.mail_link_btn {
    border: 3px solid;
    border-image: var(--color-point) 1;
    background-color: var(--color-font02);

    a {
        color: var(--color-font01);
        font-weight: 600;
    }
}



/*768px以下-------------------------------------------------------------*/
@media screen and (max-width:768px) {



    header {
        z-index: 99;
        border-radius: 0%;
        width: 100vw;
        height: 100px;
        text-align: center;
        margin: 0;
        padding: 0;
        bottom: 0;
        right: 5px;
        left: 5px;

        .header-wrapper {
            padding: 5px 0 0 0;

            h1 {
                display: none;
            }
        }

        nav {
            margin: 0;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                width: 100%;

                li {
                    padding: 0;
                    width: 25%;

                    a {
                        .nav_img {
                            width: 48px;
                        }

                    }
                }
            }
        }
    }



    main {
        width: 93%;
        margin:10px auto 120px;

        .contents {
            section {
                .wrapper {
                    .text_inner {
                        p {
                            padding: 20px;
                        }
                    }

                    .hscroll {
                        padding: 0;
                        width: 100%;

                        .right:before {
                            top: calc(50% - 30px);
                            right: calc(50% - 0);
                        }

                        .left:before {
                            top: calc(50% - 30px);
                            left: calc(50% - 0);
                        }

                        ul {
                            overflow-x: auto;
                        }
                    }

                }
            }
        }



    }
}